{% extends "base.html.j2" %}
{% block body %}
<div class="page-header"><h1>{{ page_h1 }}</h1></div>
<main class="content" id="main">
  <p>{{ prose.intro }}</p>
  <p>{{ prose.ancestry }}</p>
  <p>{{ prose.goals }}</p>
</main>
{% endblock %}
